<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
</head>
<body class="container mt-5">
    <div class="d-flex justify-content-center">
        <div class="card border-dark mb-3">
            <h2 class="card-header text-center">Productos</h2>
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="filtroProducto" placeholder="Filtrar" onkeyup="filtrarTablaProductos()">
                    </div>
                    <div class="col-md-6 text-right">
                        <button onclick="window.location.href='/productos/nuevo'" class="btn btn-outline-dark">
                            <i class="fas fa-plus mr-2"></i>Agregar Producto
                        </button>
                        <a href="/principal/inicio" class="btn btn-outline-dark ml-2">
                            <i class="fas fa-arrow-left mr-2"></i>Volver al Menú Principal
                        </a>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table" id="tablaProductos">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>Precio</th>
                                <th>Cantidad Disponible</th>
                                <th>Categoría</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="producto : ${productos}" data-producto-id="${producto.id}">
                                <td th:text="${producto.id}"></td>
                                <td th:text="${producto.nombre}"></td>
                                <td th:text="${producto.descripcion}"></td>
                                <td th:text="${producto.precio}"></td>
                                <td th:text="${producto.cantidadDisponible}"></td>
                                <td th:text="${(producto.categoria != null) ? producto.categoria.nombre : 'Sin categoría'}"></td>
                                <td>
                                    <a th:href="@{'/productos/ver_producto/' + ${producto.id} + '?modo=ver&id=' + ${producto.id}}"
                                        class="btn btn-link p-0 text-dark">
                                        <i class="far fa-eye"></i>
                                    </a>
                                    <a th:href="@{'/editar_producto/' + ${producto.id}}"
                                        class="btn btn-link p-0 text-dark">
                                        <i class="far fa-edit"></i>
                                    </a>
                                    <a href="#" class="btn btn-link p-0 text-dark borrar-producto">
                                        <i class="far fa-trash-alt"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
         document.querySelectorAll('.borrar-producto').forEach(item => {
            item.addEventListener('click', event => {
                const row = event.target.closest('tr');
                const productoId = row.querySelectorAll('td')[0].textContent;
                if (confirm('¿Estás seguro que deseas borrar este producto?')) {
                    fetch(`/productos/borrar_producto/${productoId}`, {
                        method: 'POST'
                    })
                    .then(response => {
                        if (response.ok) {
                            location.reload();
                        } else {
                            throw new Error('Error al borrar el producto');
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
                }
            });
        });
    </script>
</body>
</html>